.contactParent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.contactElement {
    padding: 25px;
    max-width: 550px;
    text-align: center;
}
.contactImg {
    width: 100%;
}


@media all and (max-width : 1200px) {
.contactElement {
    max-width: 400px;
}
}

@media all and (max-width : 500px) {
.contactElement {
    max-width: 300px;
}
}